

{% load staticfiles %}
<div class="clothing">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="tshirt" data-clo="0.05">
        <img src="{% static "survey/img/tshirt.png" %}" alt="...">
        <div class="caption">
          T-shirt
        </div>
      </div>

    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="sweater" data-clo="0.2">
        <img src="{% static "survey/img/sweater.png" %}" alt="...">
        <div class="caption">
          Sweater
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="jacket" data-clo="0.3">
        <img src="{% static "survey/img/jacket.png" %}" alt="...">
        <div class="caption">
          Jacket
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="long-shirt" data-clo="0.25">
        <img src="{% static "survey/img/shirt.png" %}" alt="...">
        <div class="caption">
          Long-sleeved shirt
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="tie" data-clo="0.1">
        <img src="{% static "survey/img/tie.png" %}" alt="...">
        <div class="caption">
          Tie
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="shorts" data-clo="0.1">
        <img src="{% static "survey/img/shorts.png" %}" alt="...">
        <div class="caption">
          Shorts
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="trousers" data-clo="0.2">
        <img src="{% static "survey/img/trousers.png" %}" alt="...">
        <div class="caption">
          Trousers
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="skirt" data-clo="0.2">
        <img src="{% static "survey/img/skirt.png" %}" alt="...">
        <div class="caption">
          Skirt
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="dress" data-clo="0.25">
        <img src="{% static "survey/img/dress.png" %}" alt="...">
        <div class="caption">
          Dress
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="sandals" data-clo="0.02">
        <img src="{% static "survey/img/sandals.png" %}" alt="...">
        <div class="caption">
          Sandals
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail" id="shoes" data-clo="0.03">
        <img src="{% static "survey/img/shoes.png" %}" alt="...">
        <div class="caption">
          Shoes
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){

    $('.thumbnail').hover(function(){
      $(this).toggleClass('hover');
    }).click(function(){
      $(this).toggleClass('selected');
    });

  });

  function get_clo(){
    var r = 0;
    $('.thumbnail.selected').each(function(){
      var clo = $(this).data("clo");
      r += clo;
    });
    return r;
  }

</script>
