

{% load staticfiles %}
<div class="clothing">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/tshirt.png" %}" alt="...">
        <div class="caption">
          T-shirt
        </div>
      </div>

    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/sweater.png" %}" alt="...">
        <div class="caption">
          Sweater
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/jacket.png" %}" alt="...">
        <div class="caption">
          Jacket
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/shirt.png" %}" alt="...">
        <div class="caption">
          Long-sleeved shirt
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/tie.png" %}" alt="...">
        <div class="caption">
          Tie
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/shorts.png" %}" alt="...">
        <div class="caption">
          Shorts
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/trousers.png" %}" alt="...">
        <div class="caption">
          Trousers
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/skirt.png" %}" alt="...">
        <div class="caption">
          Skirt
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/dress.png" %}" alt="...">
        <div class="caption">
          Dress
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/sandals.png" %}" alt="...">
        <div class="caption">
          Sandals
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{% static "survey/img/shoes.png" %}" alt="...">
        <div class="caption">
          Shoes
        </div>
      </div>
    </div>
  </div>
</div>
