{% extends "survey/layout.html" %}
{% block content %}
    <div style="margin-bottom: 10px; margin-top: 10px;">
        <form action="/survey/create/" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="survey-name">Survey name</label>
                <input class="form-control" name="survey-name" placeholder="My survey" required autofocus>
            </div>
            <div class="form-welcome">
                <label for="welcome-page">Your welcome page content</label></br>
                <input class="input-text" name="Welcome Introduction" placeholder="the Introduction of welcome page" required autofocus>
            </div>
            {% include "survey/modules.html" %}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
