{% extends "survey/layout.html" %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if surveys %}
    <table class="table table-hover">
        <thead>
            <tr><th>Survey</th><th>Date created</th><th>Active</th><th>Report</th><th>Download</th></tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
                <tr>
                    <td><a href="/survey/{{ survey.url }}/">{{ survey.name }}</a></td>
                    <td>{{ survey.date_created.date }}</td>
                    <td>
                        {% if survey.active %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/survey/{{ survey.url }}/report">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="/survey/{{ survey.url }}/csv">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No surveys are available.</p>
{% endif %}

<div style="text-align: center; margin-bottom: 10px;">
    <button id="create-survey" type="button" class="btn btn-default">Create new survey</button>
</div>

<script>
    $('#create-survey').click(function(){
        window.location.href = '/survey/create/';
    });
</script>

{% endblock %}
