{% extends 'survey/layout.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

    <div style="width: 60%; margin: 10px auto 10px auto;">
        <form action="" method="post" role="form">
            {% csrf_token %}
            <table class="table table-striped" id="invite_table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Fresh?<th>
                    </tr>
                </thead>
                <tbody>
                    {% for invite_form in invite_formset %}
                        <tr>
                        {% for element in invite_form %}
                            <td>
                                {{ element }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ invite_formset.management_form }}
            <div style="float: right; clear: both; border: none;">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <br style="clear: both;">
        </form>
        <div style="margin-top: 20px; color: #959595; font-size: 0.9em;"> 
            <caption>For your clipboard:</caption>
            <pre>
            {% for c in codes %}
                {{ c }}
            {% endfor %}
            </pre>
        </div>
    </div>
        
{% endblock %}
