<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CBE Right Now Survey</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.1.1-dist/css/bootstrap.min.css" %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.1.1-dist/css/jumbotron.css" %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static "slider/css/slider.css" %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/common.css" %}"></link>

    <script type="text/javascript" src="{% static "jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "slider/js/bootstrap-slider.js" %}"></script>
    {% endblock %}
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Right Now Survey</h3>
      </div>

      {% block content %}{% endblock %}

      <div class="footer">
        <p>&copy; Center for the Built Environment 2014</p>
      </div>

    </div>
  </body>
</html>
