{% extends "survey/layout.html" %}
{% block content %}

  <div class="login-container">
    {% if user.is_authenticated %}
      <p style="text-align:center">Currently logged in as <b>{{ user }}</b></p>
    {% else %}
      <form action="/survey/login/" method="post" class="form-signin" role="form">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required style="margin-bottom:20px">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <div style="text-align: right; padding-top: 10px; padding-right: 10px;"><a href="/survey/signup">create account</a></div>
    {% endif %}
  </div>

{% endblock %}
