{% extends "survey/layout.html" %}
{% block content %}
    <div style="margin-bottom: 70px; margin-top: 10px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" role="form">
            {% csrf_token %}
            <table class="table">
                {{ question_form.as_table }}
            </table>
            <button type="submit" style="float: right;" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}
