{% extends "survey/layout.html" %}
{% block content %}

<div class="report">
  <ol id="report-qlist"></ol>
</div>

<script>

  $(document).ready(function(){
    var questions = eval("{{ questions|escapejs }}");
    var data = eval("{{ data|escapejs }}");
    var comments = eval("{{ comments|escapejs }}");
    var list = $('#report-qlist');

    questions = _.map(questions, function(q){
      q.choices = eval(q.choices);
      q.value_map = eval(q.value_map);
      return q;
    });

    _.each(questions, renderChart);

    function renderChart(q){
      if (q.qtype == "D"){
        renderDiscreteReport(q);
      } else if (q.qtype == "C"){
        renderContinuousReport(q);
      }
    }

    function renderContinuousReport(q){
      var div = $("<div class='question-report-container' id='report-" + q.id + "-container'></div>").appendTo(list);
      div.append("<li><p class='question-text'>" + q.text + "</p></li>");

      var qdata = _.filter(data, function(d){ return d.question_id == q.id; });
      var qvalues = _.pluck(qdata, "value");
      var N = qdata.length;

      // A formatter for counts.
      var formatCount = d3.format(",.0f");

      var margin = {top: 10, right: 30, bottom: 30, left: 30},
          width = 600 - margin.left - margin.right,
          height = 300 - margin.top - margin.bottom;

      if (q.value_map[1] < q.value_map[0]) {
        var reversed = true;
        var temp = q.value_map[1];
        q.value_map[1] = q.value_map[0];
        q.value_map[0] = temp;
      }
      console.log(q.value_map)
      var x = d3.scale.linear()
          .domain(q.value_map)
          .range([0, width]);

      // Generate a histogram using twenty uniformly-spaced bins.
      var histdata = d3.layout.histogram()
          .bins(x.ticks(20))
          (qvalues);

      var y = d3.scale.linear()
          .domain([0, d3.max(histdata, function(d) { return d.y; })])
          .range([height, 0]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

      var svg = d3.select("#report-" + q.id + "-container").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var bar = svg.selectAll(".bar")
          .data(histdata)
        .enter().append("g")
          .attr("class", "bar")
          .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

      bar.append("rect")
          .attr("x", 1)
          .attr("width", x(q.value_map[0] + histdata[0].dx) - 1)
          .attr("height", function(d) { return height - y(d.y); });

      bar.append("text")
          .attr("dy", ".75em")
          .attr("y", 6)
          .attr("x", x(q.value_map[0] + histdata[0].dx) / 2)
          .attr("text-anchor", "middle")
          .text(function(d) { return formatCount(d.y); });

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);


    }

    function renderDiscreteReport(q){
      var div = $("<div class='question-report-container' id='report-" + q.id + "-container'></div>").appendTo(list);
      div.append("<li><p class='question-text'>" + q.text + "</p></li>");

      var qdata = _.filter(data, function(d){ return d.question_id == q.id; });
      var N = qdata.length;
      var counts = _.countBy(qdata, function(d){ return d.value; });
      var chart_data = _.map(_.zip(q.choices, q.value_map), function(c){
        var rv = {};
        rv.label = c[0];
        rv.count = counts[c[1]];
        rv.percentage = 100 * rv.count / N;
        return rv;
      });
     
      var w = 440;
      var h = 220;
      var ri = 70;
      var ro = 220;
      color = d3.scale.category20c();
 
      var vis = d3.select('#report-' + q.id + '-container')
        .append("svg")
          .data([chart_data])
          .attr('width', w)
          .attr('height', h)
        .append("svg:g")
          .attr("transform", "translate(" + ro + "," + ro + ")") 

      var arc = d3.svg.arc() 
          .innerRadius(ri)
          .outerRadius(ro);
   
      var pie = d3.layout.pie()
          .startAngle(-Math.PI/2) 
          .endAngle(Math.PI/2) 
          .value(function(d) { return d.percentage; });
   
      var arcs = vis.selectAll("g.slice")
          .data(pie)
          .enter()
            .append("svg:g")
               .attr("class", "slice");

      arcs.append("svg:path")
         .attr("fill", function(d, i) { return color(i); } )
         .attr("d", arc);
   
      arcs.append("svg:text")
          .attr("transform", function(d) {
                  d.innerRadius = ri;
                  d.outerRadius = ro;
                  return "translate(" + arc.centroid(d) + ")";
          })
          .attr("text-anchor", "middle")
          .attr("font-size", "0.95em")
          .attr("fill", "white")
          .text(function(d, i) { return chart_data[i].label; });

      var table = $('<table class="table table-striped discrete-results-table"></table>').appendTo(div);
      table.append('<thead><tr><th>Category</th><th>%</th><th>Count</th></tr></thead>');
      table.append('<tbody>');
      _.each(chart_data, function(d){
        table.append('<tr><td>' + d.label + '</td><td>' + d.percentage + '</td><td>' + d.count + '</td></tr>');
      });
      table.append('<tr><td style="font-weight:bold;">Total</td><td></td><td style="font-weight:bold;">' + N + '</td></tr></tbody>');
    }
  });

</script>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "survey/css/report.css" %}"></link>
  <script type="text/javascript" src="{% static "d3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "underscore.min.js" %}"></script>

  
{% endblock %}

