{% extends "survey/layout.html" %}
{% block content %}

<ol>

{% for q in questions %}
  <li><p class="question-text">{{ q.question.text }}</p></li>
  {% if q.question.qtype == "C" %}
    <div class='slider-container' id="question-{{ q.question.id }}-container">
      <input type="text" id="question-{{ q.question.id }}" 
        class="slider" data-slider-min="0" data-slider-max="100"> 
    </div>
  {% elif q.question.qtype == "A" %}
    <div class='slider-container' id="question-{{ q.question.id }}-container">
      <input type="text" id="question-{{ q.question.id }}" 
        class="slider vertical" data-slider-min="0" data-slider-max="100" data-slider-orientation="vertical"> 
    </div>
  {% elif q.question.qtype == "D" %}
    <div id="question-{{ q.question.id }}-container">
      <div class='discrete' id="question-{{ q.question.id }}">
        <div class='btn-group' data-toggle="buttons">  
          {% for c in q.question.choices %}
          <label class='btn btn-default'>
            <input type='radio' 
              data-choice-index={{ forloop.counter0 }} 
              id='{{ q.question.name }}-{{ forloop.counter0 }}' 
              name='radio'>{{ c }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
  {% elif q.question.qtype == "M" %}
    <div class='multichoice-container' id="question-{{ q.question.id }}-container">
      <div class='multiple' id="question-{{ q.question.id }}">
        <div class='checkbox-group'>
          {% for c in q.question.choices %}
          <label class='check-box'>
          <input type='checkbox' data-choice-index={{ forloop.counter0 }} name='choiceofcheck' id='{{ q.question.name }}-{{ forloop.counter0 }}-checkbox'> {{ c }}
          </label><br/>
          {% endfor %}
        </div>
      </div>
    </div>
  {% elif q.question.qtype == "T" %}
    <div class='text-input-container' id="question-{{ q.question.id }}-container">
      <textarea id="question-{{ q.question.id }}"class="form-control" rows="3"></textarea>
    </div>
  {% endif %}

  <!--Special Questions-->
  {% if q.question.name == "SpecialClothingLevel" %}
    <div id="question-{{ q.id }}-container">
      {% include "survey/clothing.html" %}
    </div>
  {% endif %}

{% endfor %}

  <div id='submit-container' style="margin: 0 auto; width: 50%; padding: 20px; text-align: center;">
    <button id='submit' class='btn btn-success btn-lg'>Submit</button> 
  </div>

</ol>

<script>
  
  $(document).ready(function(){
    var questions = eval("{{ json|escapejs }}");
    var survey_url = "{{ survey.url }}";
    var survey = {{ survey.id }};

    $('.slider').slider({
      'tooltip': 'hide',
      'selection': 'none',
      'step': 0.01, 
      'value': 50,
    });

    $('.slider-handle.round')
      .css('background-image', 'linear-gradient(to bottom, #c0c0c0, #555555)');

    $('div.slider').click(function(){
      $(this).data('clicked', true);
      $(this).find('.slider-handle.round')
        .css('background-image', 'linear-gradient(to bottom, #149bdf, #0480be)');
    });

    $('.slider.vertical').on("slide", function(slideEvt){
       if(slideEvt.value>=45 && slideEvt.value<50){
        $(this).slider("setValue", 44);
       }
       if(slideEvt.value>=50 && slideEvt.value<=55){
        $(this).slider("setValue", 56);
       }
    });

    // $('.slider-container').append('<div class="slider-mask" style="width: 50%;"></div>');

    $('#submit').click(renderResult);

    function renderResult(){
      var N = questions.length;
      var payload = [];
      var unanswered_questions = [];
      var complete = true;
      for (var i = 0; i < N; i++){
        var q = questions[i];
        var q_dom = $('#question-' + q.question.id);
        var response = { 'survey': survey, 'question': q.question.id };
        if (q.question.qtype=="D"){
          var choice_index = q_dom.children().children('.active')
                                  .children().attr('data-choice-index');
          var mapped = q.question.value_map[choice_index];
          var v = mapped;
          if (typeof v != 'undefined') {
            response.value = v;
            payload.push(response);
          } else if (q.question.mandatory) {
            unanswered_questions.push(q);
            complete = false;
          } 
        } else if (q.question.qtype=="C" || q.question.qtype=="A"){
          var clicked = q_dom.closest('div.slider').data('clicked');
          if (clicked){
            var v = q_dom.data('slider').getValue()
            var range = q.question.value_map[1] - q.question.value_map[0];
            if (q.question.qtype=="C"){
              v = v * range / 100 + q.question.value_map[0];
            } else if (q.question.qtype=="A"){
              if (v < 45) { 
                v = v * range / 45 + q.question.value_map[0];
              } else if (v > 55) {
                v = (50 + (v - 55) / 45) * range + q.question.value_map[0];
              }
            }
            response.value = v;
            payload.push(response);
          } else if (q.mandatory) {
            unanswered_questions.push(q);
            complete = false;
          }
        } else if (q.question.qtype=="M"){
          var choicearray = [];
          var checkboxes = q_dom.find('.checkbox-group').children().children('input:checked');
          checkboxes.each(function(i, obj){
            var choice_index = $(obj).attr('data-choice-index');
            var v = q.question.value_map[choice_index];
            choicearray.push(v);
          });
          if(choicearray.length !=0){
            response.multivalue = choicearray.join(','); 
            payload.push(response);
          } else if (q.mandatory){
            unanswered_questions.push(q);
            complete = false;
          }  
        } else if (q.question.qtype=="T"){
          var c = q_dom.val();
          if (c != ""){
            response.comment = c;
            payload.push(response);
          } else if (q.mandatory) {
            unanswered_questions.push(q);
            complete = false;
          }
        } else if (q.qtype=="S"){
          // Special modules
          if (q.name == "SpecialClothingLevel"){
            response.value = get_clo();
            if ((response.value == 0.2) & (q.mandatory)) { 
              unanswered_questions.push(q);
              complete = false;
            }
            payload.push(response);
          }
        }
      } 
      if (complete){
        $.ajax({
          url: "/survey/" + survey_url + "/submit/",
          type: "POST",
          data: JSON.stringify(payload, null, 2),
          success: function(){
            window.location.href = "/survey/" + survey_url + "/thanks/";
          },
        });
      } else {
        $('div').removeClass('unanswered');
        alert_mandatory(unanswered_questions);
      }
    }

    function alert_mandatory(q_list){
      for (var i = 0; i < q_list.length; i++){
        var q_container = $("#question-" + q_list[i].question.id + "-container");
        q_container.addClass('unanswered');
      }      
      var q = $("#question-" + q_list[0].question.id + "-container");
      $('html,body').animate({
        scrollTop: q.offset().top - 50
        }, 500);
      return;
    }

    // draw ticks
    (function(){
      var N = questions.length;
      var L = 350;
      var tick_width = 1;
      for (var i = 0; i < N; i++){
        var q = questions[i];
        if (q.question.qtype=="C"){
          var M = q.question.choices.length;
          var container = $('#question-' + q.question.id + '-container');
          var ticks_container = $("<div class='ticks-container' id='ticks-" 
            + q.question.id + "-container'></div>").appendTo(container);
          var labels_container = $("<div class='labels-container' id='labels-" 
            + q.question.id + "-container'></div>").appendTo(container);
          var tick_margin = parseInt(L / (M - 1) - tick_width);
          var remainder = L - (parseInt(tick_margin) + tick_width) * (q.question.choices.length - 1);
          var label_width = 58;
          var label_margin = (408 - label_width * M) / (M - 1);

          // ticks
          $('<div class="tick"></div>').appendTo(ticks_container);
          for (var j = 1; j < M - 1; j++){
            $('<div class="tick"></div>')
              .appendTo(ticks_container)
              .css('margin-left', tick_margin);
          }
          $('<div class="tick"></div>')
            .appendTo(ticks_container)
            .css('margin-left', tick_margin - 1 + remainder);
 
          // labels
          for (var j = 0; j < M - 1; j++){
            $('<div class="mylabel"><p class="p-label">' + q.question.choices[j] + '</p></div>')
              .appendTo(labels_container)
              .css('margin-right', label_margin);
          }
          $('<div class="mylabel"><p class="p-label">' + q.question.choices[j] + '</p></div>')
            .appendTo(labels_container);
          $('.label').css('width', label_width);
        } else if (q.question.qtype=="A"){
          var M = q.question.choices.length;
          var container = $('#question-' + q.question.id + '-container');
          var ticks_container = $("<div class='ticks-container' id='ticks-" 
            + q.question.id + "-container'></div>").appendTo(container);
          var labels_container = $("<div class='labels-container' id='labels-" 
            + q.question.id + "-container'></div>").appendTo(container);
          var tick_margin = parseInt(L / (M - 1) - tick_width);
          var remainder = L - (parseInt(tick_margin) + tick_width) * (q.question.choices.length - 1);
          var label_width = 458;
          var label_margin = (408 - label_width * M) / (M - 1);

         // ticks
          $('<div class="tick vertical"></div>').appendTo(ticks_container).css(
            'margin-top', -217,
            'margin-left', 'auto',
            'margin-right', 'auto'
            );
          $('<div class="tick vertical"></div>').appendTo(ticks_container).css(
            'margin-top', -119,   //-134
            'margin-left', 250,
            'margin-right', 'auto'
            );
          $('<div class="tick vertical"></div>').appendTo(ticks_container).css(
            'margin-top', -103);   //-111
          $('<div class="tick vertical"></div>').appendTo(ticks_container).css(
            'margin-top', -9);     //-7
          // labels

          $('<div class="mylabel vertical"><p class="p-label vertical">' + q.question.choices[3] + '</p></div>')
            .appendTo(labels_container)
            .css('margin-top', -224,
                 'margin-left', 400);
          $('<div class="mylabel vertical"><p class="p-label vertical">' + q.question.choices[2] + '</p></div>')
            .appendTo(labels_container)
            .css('margin-top', -128);  //-144
          $('<div class="mylabel vertical"><p class="p-label vertical">' + q.question.choices[1] + '</p></div>')
            .appendTo(labels_container)
            .css('margin-top', -111);  //-111
          $('<div class="mylabel vertical"><p class="p-label vertical">' + q.question.choices[0] + '</p></div>').appendTo(labels_container)
            .css('margin-top', -15);  //
          $('.label').css('width', label_width);
        }
      }
    }());

  });  

</script>
{% endblock %}
