{% extends "survey/layout.html" %}
{% block content %}
<h1>{{ survey.name }}</h1>

{% for m in modules %}
  {{ m.name }}
  {% for q in m.questions %}
    {{ q.text }}
    {% if q.qtype == "C" %}
      {{ q.choices }}
      {{ q.value_map }}
      continuous
      <input type="text" id="foo" class="slider" data-slider-min="{{ q.value_map.0 }}" data-slider-max="{{ q.value_map.1 }}"> 
    {% elif q.qtype == "D" %}
      {{ q.choices }}
      {{ q.value_map }}
      discrete
    {% elif q.qtype == "A" %}
      {{ q.choices }}
      {{ q.value_map }}
      acceptability
    {% elif q.qtype == "T" %}
      {{ q.choices }}
      {{ q.value_map }}
      text
    {% endif %}
    <br> 
  {% endfor %}
  <hr>
{% endfor %}

<script>
  $('.slider').slider({
    'tooltip': 'hide',
    'selection': 'none',
    'step': 0.01, 
  });
</script>

{% endblock %}
