{% extends "survey/layout.html" %}
{% block content %}

<div class="jumbotron">
        <h2>How do you feel right now?</h2>
        <p class="lead">Take a short survey to help researchers and building operators assess your indoor environment. Start by entering your workstation or room number.</p>
        <div id="workstation-number-container">
          <input id="workstation-number" class="form-control input-lg" style="width: 30%; margin: 0 auto;" type="text" placeholder="workstation #">
        </div>
        <div class="checkbox" style="width: 70%; margin: 0 auto; margin-bottom: 20px; margin-top: 20px; font-size: 1em; color: rgb(100,100,100);">
          <label>
            <input id="consent-box" type="checkbox" value="">
            I agree to take part in the research. Read below for more info about rewards and confidentiality.
          </label>
        </div>

        <p><a id="submit" class="btn btn-lg btn-success" disabled href="#" role="button">Begin Survey</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Introduction</h4>
          <p>We are Ed Arens, Hui Zhang, and Fred Bauman from the Center for the Built Environment at University of California Berkeley. We invite you to participate in a study of how office workers are sensing the thermal environment in their buildings.</p>

          <h4>Procedures</h4>
          <p>If you agree to participate, you will be asked to take a short web-based survey about your thermal sensations and comfort 2 – 3 times a day, over the course of about three weeks. Each survey takes one minute to complete. We will suggest times of day that we would like you to take the survey and you will have freedom to fit it into your schedule as best you can. The survey questions should cause you no physical risks or discomfort.</p>

          <h4>Benefits</h4>
          <p>There is no direct benefit to you anticipated from participating in this study. However, the results will be used to refine the techniques by which buildings are operated, and to update industry standards for designing future buildings with greater comfort and energy efficiency. Studies such as this have been instrumental to recent progress in making buildings more sustainable.</p>

          <h4>Compensation</h4>
          <p>Each week we will offer $25 certificates to Peets, Starbucks, or to one or two restaurants the group might suggest, for all participants who have completed more than 10 surveys in the week.</p>

        </div>

        <div class="col-lg-6">
          <h4>Confidentiality</h4>
          <p>We will use your workstation number to locate you to deliver the gift cards. Individual survey responses or workstation number will not be discussed with or shown to building management. The workstation numbers and individual survey results will be kept completely confidential and be analyzed only by our study team at UC Berkeley. Data will be stored for use in future research projects, but identifiers will be destroyed by the end of the study.</p>

          <h4>Risk</h4>
          <p>As with all research, there is a chance that confidentiality could be compromised; however, we are taking precautions to minimize this risk.</p>

          <h4>Rights</h4>
          <p>Participation in research is completely voluntary. You have the right to decline to participate or to withdraw at any point in this study without loss of benefits to which you are otherwise entitled.</p>

          <h4>Questions</h4>
          <p>If you have any questions about this research, you may call Hui Zhang at 510-642-6918. If you have any questions about your rights as a research participant in this study, please contact UC Berkeley’s Committee for the Protection of Human Subjects at 510-642-7461, or e-mail: subjects@berkeley.edu.</p>
        </div>
      </div>

<script>

$(document).ready(function(){

  $('#consent-box').click(function(){
    if ($(this).is(':checked')){
      $('#submit').removeAttr('disabled');
    } else {
      $('#submit').attr('disabled','disabled');
    }
  });

  $('#submit').click(function(){
    var workstation = $("#workstation-number").val();
    if (workstation == ""){
      $('#workstation-number-container').addClass('has-error');
      $("#workstation-number").focus()
    } else {
      console.log('yay');
    }
  });

});
</script>

{% endblock %}
