.center-align {
  text-align: center;
}

.login-container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px solid;
  border-color: rgb(240,240,240);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2); 
  padding: 20px;
}

.question-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  text-align: left;
}

.slider {
  width: 350px;
}

.slider-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid;
  border-color: rgb(240,240,240);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2); 
}

.tick {
  background-color: rgba(0,0,0,.3);
  border-radius: 1px;
  margin-top: -5px;
  width: 1px;
  height: 15px;
  float: left;
}

.labels-container {
  width: 408px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.mylabel {
  color: rgba(0,0,0,0.7);
  width: 58px;
  max-width: 58px;
  float: left;
  font-size: 0.84em;
}

.mylabel.vertical {
  width: 458px;
  max-width: 458px;
}

.p-label {
  max-width: 58px;
  clear: both;
}

.p-label.vertical {
  position: absolute;
  margin-left: 226px;
  max-width: 200px;
  float: left;
}

.tick.vertical {
  background-color: rgba(0,0,0,.3);
  border-radius: 1px;
  margin-left: 186px;
  margin-top: -5px;
  width: 1px;
  height: 15px;
  float: left;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.ticks-container {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

.slider-horizontal .slider-track {
  background-image: linear-gradient(to bottom, #dddddd, #eeeeee);
}

.slider-vertical .slider-track {
  background-image: linear-gradient(to bottom, #dddddd, #eeeeee);
}

.slider-vertical .slider-track {
  background-image: linear-gradient(to bottom, #dddddd, #eeeeee);
}


.clothing {
  padding: 5px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  clear: both;
}

.discrete {
  padding: 10px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  clear: both;
}
.check-box{
  padding: 5px;
  font-size: 1.15em;
  line-height: 0.5em;
  font-weight: normal;
  margin: 0 auto;
  clear: both;
}
.text-input-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.thumbnail.hover {
  border-color: #94D1F2;
}

.thumbnail.selected {
  border: 1px double #0D80BF;
  background-color: #FFFEF2;
}

.thumbnail .caption {
  color: rgba(0,0,0,0.5);
  font-size: 0.84em;
}

div.unanswered {
  -moz-box-shadow: 0 0 5px 5px #FFCCCC;
  -webkit-box-shadow: 0 0 5px 5px #FFCCCC;
  box-shadow: 0 0 5px 5px #FFCCCC;
}

caption {
  color: #959595;
  margin-bottom: 10px;
}

.question-table-container {
  padding: 15px;
  position: relative;
  border-style: solid;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 20px;
}
